@charset "utf-8";
.evenflow * {
  margin:0; padding:0; border:0;
  font-size: 100%; font: inherit;
  vertical-align: baseline; outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  
.evenflow { display: inline-block; }
.evenflow:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

.evenflow li {
  display:block;
  float:left;
  width:30%;
  max-width:400px;
  line-height:0;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:20px; 
  transition:all 0.25s ease;}

.evenflow li a {
  display:block;
  padding:8px;
  background:#424242;
  border-radius:2px;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.25); }
  
.evenflow li img { width:100%; }  

/* LIGHTBOX TITLE */
.mfp-title {
  font-size:1.2em;
  color:#ddd !important;
  margin-top:10px;
  font-weight:200; }
  
/* LIGHTBOX COUNTER */
.mfp-counter {
  font-size:1.2em;
  color:#ddd!important;
  margin-top:10px;
  font-weight:200;}



/* FULL WIDTH MODE */
.evenflow_full_width li {
	margin:0;
	width:33%;
}

.evenflow_full_width li a {
	border-radius:0;
	padding:0;
}


/* HOVER EFFECTS */
.evenflow_rotate { transition:transform 0.25s ease;	}
.evenflow_rotate:hover { transform:rotate(45deg); }
.evenflow_shiftX { transition:transform 1s ease;	}
.evenflow_shiftX:hover { transform:translateX(20px); }
.evenflow_shiftY { transition:transform 1s ease;	}
.evenflow_shiftY:hover { transform:translateY(-20px); }
.evenflow_scale { transition:transform 0.25s ease;	}
.evenflow_scale:hover { transform:scale(1.25,1.25); }
.evenflow_spin {transition:transform 0.25s ease; }
.evenflow_spin:hover {transform:rotate(360deg); }

@keyframes evenflow_shake {
	0% { transform: scale(1); }
	50% { transform: scale(1.1); }
	100% { transform: scale(1); } }

.evenflow_shake {transform:scale(1); }
.evenflow_shake:hover{
	animation-name: evenflow_shake;
	animation-duration:500ms;
	transform-origin:50% 50%;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-timing-function:ease; }
	
	
	
	

@media screen and (max-width: 780px) {
  .evenflow li { width: 45%; }
}

@media screen and (max-width: 550px) {
  .evenflow { text-align: center; }
  .evenflow li {
    float: none;
    display: inline-block;
    width: 80%;
    margin-bottom: 30px; }
}