
@media (max-width:799px)  {
    #nav-right a {
        display: none;
    }

    #nav-btns #nav-menu-btn {
        display: inline-block;
    }
}

@media (max-width: 768px) {
    #comment-info {
        display: block;
        width: 100%;
    }

    #comment-form .comment-input {
        width: 100%;
    }

}

@media (max-width: 1440px) and (min-width: 768px) {
    #site-meta {
        width: 550px;
    }

}

@media (max-width: 768px) and (min-width: 450px) {
    #site-meta {
        width: 450px;
    }
    #search-box {
        background-size: 55%;
    }
    #search-img {
        width: 32px;
        height: 32px;
    }
    #search-text {
        width: 300px;
        height: 50px;
    }
    #search-button {
        height: 55px;
        width: 55px;
    }
}

@media (max-width: 450px) and (min-width: 425px)  {
    #site-meta {
        width: 350px;
    }

    #site-avatar img {
        width: 100px;
    }

    #site-name h1{
        font-size: 45px;
    }

    #site-description {
        font-size: 25px;
    }
}

@media (max-width: 450px) {

    #site-meta {
        width: 250px;
    }

    #site-avatar img {
        width: 90px;
    }

    #site-name h1{
        font-size: 35px;
    }

    #site-description {
        font-size: 18px;
    }

    .card-thumbnail {
        height: 180px;
    }

    .post-meta-label i {
        font-size: 13px;
    }

    .post-tags a {
        font-size: 13px;
    }

    .post-tags span{
        font-size: 15px;
    }

    #comment-form textarea {
        background-size: 100px 100px;
    }

    #go-top {
        width: 40px;
        height: 40px;
    }

    #scroll-percentage {
        width: 40px;
        height: 40px
    }
    #search-box>form {
        min-width: 190px;
    }
    #search-box {
        background-size: 80%;
    }

    #search-img {
        width: 32px;
        height: 32px;
    }
    #search-text {
        width: 150px;
        height: 40px;
        font-size: 20px;
    }
    #search-button {
        height: 30px;
        width: 30px;
    }
}

@media (max-width:860px) {
    .post-footer .third {
        width:100%;
    }
}
@media (max-width:760px) {
    .post-footer .half {
        float:none;
        width:100%;
    }
}
@media (max-width:900px) {
    .post-footer.post-footer-featured {
        display:none;
    }
}
@media (max-width:760px) {
    .post-footer.nextprev article {
        height:150px;
        width:100%;
    }
}